<h1>Sporty McScraper's Latest (Totally True) News and Happenings</h1>

<h2>All content scraped from The Onion</h2>
<h3>In case you didn't know, The Onion is a <strong><em>parody</em></strong> site...</h3>

<div class="row mt-5">
  <div class="col-md-8 articles">
    <h2>Current Stories</h2>
    <ul>
      {{#each articles}}
          <li class="mb-4">
            {{this.time}}<br>
            <h5>{{this.title}}</h5>
            <h6>{{this.summary}}</h6>
            <a class="article-link" href="{{this.link}}" target="_blank">{{this.link}}</a><br>
            <button class="comment-button" data-id="{{this.id}}">Leave a Comment!</button><br>
          </li>
      {{/each}}
    </ul>
  </div>


  <div class="col-md-4 comments">
    <h2>Comments</h2>
    <ul>
      {{#each articles}}
        {{#if Comment}}
          <li>
          <input id='titleinput' name='title' {{this.commentTitle}}>
          <textarea id='bodyinput' name='body'>{{this.commentBody}}</textarea>
          <button data-id={{this._id}} id='savecomment'>Save Comment</button>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>